@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #84A9C0;
  width: 100%;
  height: 100%;
}


body {
  font-family: 'Open Sans', sans-serif;
}